{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <p>{{ menu }}</p>
    <h1>{{ title }}</h1>
</body>
</html> {% endcomment %}

<!DOCTYPE html>
{% load static %}

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'css/global_sozv.css' %}" />
    <link rel="stylesheet" href="{% static 'css/index_sozv.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Source Code Pro:ital,wght@0,400;1,500&display=swap"
    />
  </head>
  <body>
    <div class="constellations">
      <img class="image-9-icon" alt="" src="{% static 'png/image-9@2x.png' %}" />

      <section class="image-10-parent">
        <img class="image-10-icon" alt="" src="{% static 'png/image-9@2x.png' %}" />

        <div class="image-6-1-parent">
          <img
            class="image-6-1"
            loading="lazy"
            alt=""
            src="{% static 'png/image-6-1@2x.png' %}"
          />

          <div class="frame-child"></div>
          <img class="icon" alt="" src="{% static 'png/@2x.png' %}" />

          <div class="frame-item"></div>
          <img class="icon1" alt="" src="{% static 'png/-1@2x.png' %}" />
        </div>
      </section>
      <img class="image-11-icon" alt="" src="{% static 'png/image-9@2x.png' %}" />

      <img class="image-12-icon" alt="" src="{% static 'png/image-9@2x.png' %}" />

      <section class="image-13-parent">
        <img class="image-13-icon" alt="" src="{% static 'png/image-9@2x.png' %}" />

        <img
          class="image-8-1"
          loading="lazy"
          alt=""
          src="{% static 'png/image-8-1@2x.png' %}"
        />
      </section>
      <div class="navigation">
        <div class="navigationbar-background"></div>
        <header class="navigationbar"></header>
      </div>
      <div class="div"></div>
      <div class="div1"></div>
      <section class="constellations-inner">
        <div class="frame-parent">
          <div class="wrapper">
            <h2 class="h2">Созвездие Телец</h2>
          </div>
          <div class="div2">
            <i class="i">Созвездие видимо в широтах</i>
            <div class="parent">
              <i class="i1">Символ</i>
              <div class="group">
                <i class="i2">Площадь</i>
                <i class="i3">Ярчайшие звезды</i>
              </div>
            </div>
            <i class="i4">Ярчайшие звезды</i>
            <i class="i5">ноябрь, декабрь</i>
            <i class="i6"
              >Возничий, Персей, Овен, Кит, Эридан, Орион, Близнецы</i
            >
            <i class="i7">797 кв. градусов</i>
            <i class="tau"
              >Альдебаран (α Tau), Нат (β Tau), Альциона (η Tau), ζ Tau</i
            >
            <i class="i8">Бык</i>
            <i class="i9">Созвездие видимо в широтах</i>
            <i class="i10">Соседние созвездия</i>
            <i class="i11">Площадь</i>
            <i class="i12">Соседние созвездия</i>
            <i class="i13">Символ</i>
            <i class="i14">ноябрь, декабрь</i>
            <i class="i15"
              >Возничий, Персей, Овен, Кит, Эридан, Орион, Близнецы</i
            >
            <i class="i16">797 кв. градусов</i>
            <i class="tau1"
              >Альдебаран (α Tau), Нат (β Tau), Альциона (η Tau), ζ Tau</i
            >
            <i class="text"> </i>
          </div>
        </div>
      </section>
      <div class="div3"></div>
      <div class="div4"></div>
      <section class="constellations-child">
        <div class="frame-group">
          <div class="container">
            <h2 class="h21">Созвездие Овен</h2>
          </div>
          <div class="div5">
            <i class="i17">Созвездие видимо в широтах</i>
            <i class="i18">Соседние созвездия</i>
            <i class="i19">Площадь</i>
            <i class="i20">Ярчайшие звезды</i>
            <i class="i21">Символ</i>
            <i class="i22">ноябрь, декабрь</i>
            <i class="i23"
              >Возничий, Персей, Овен, Кит, Эридан, Орион, Близнецы</i
            >
            <i class="i24">797 кв. градусов</i>
            <i class="tau2"
              >Альдебаран (α Tau), Нат (β Tau), Альциона (η Tau), ζ Tau</i
            >
            <i class="i25">Баран</i>
            <i class="i26">Созвездие видимо в широтах</i>
            <div class="frame-div">
              <i class="i27">Символ</i>
              <div class="parent1">
                <i class="i28">Площадь</i>
                <i class="i29">Ярчайшие звезды</i>
              </div>
            </div>
            <i class="i30">Соседние созвездия</i>
            <i class="i31">ноябрь</i>
            <i class="i32">Персей, Треугольник, Рыбы, Кит, Телец</i>
            <i class="i33">441 кв. градусов</i>
            <i class="tau3">Хамаль (α Ari), Шератан (β Ari)</i>
            <i class="text1"> </i>
          </div>
        </div>
      </section>
      <div class="div6"></div>
      <div class="div7"></div>
      <section class="frame-section">
        <div class="frame-container">
          <div class="frame">
            <h2 class="h22">Созвездие Близнецы</h2>
          </div>
          <div class="parent2">
            <div class="div8"></div>
            <div class="parent3">
              <i class="i34">Символ</i>
              <div class="parent4">
                <i class="i35">Близнецы</i>
                <i class="text2"> </i>
              </div>
            </div>
            <div class="frame-parent1">
              <div class="parent5">
                <i class="i36">Площадь</i>
                <i class="i37">Ярчайшие звезды</i>
              </div>
              <div class="frame-parent2">
                <div class="wrapper1">
                  <i class="i38">514 кв. градусов</i>
                </div>
                <i class="gem"
                  >Поллукс (β Gem), Кастор (α Gem), Альхена (γ Gem), Теят
                  Постериор (μ Gem), Мебсута (ε Gem)</i
                >
              </div>
            </div>
            <div class="parent6">
              <i class="i39">Соседние созвездия</i>
              <div class="wrapper2">
                <i class="i40"
                  >Рак, Малый Пёс, Единорог, Орион, Телец, Возничий, Рысь</i
                >
              </div>
            </div>
            <div class="parent7">
              <i class="i41">Созвездие видимо в широтах</i>
              <div class="wrapper3">
                <i class="i42">декабрь, январь</i>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="div9"></div>
      <section class="constellations-inner1">
        <div class="frame-parent3">
          <div class="wrapper4">
            <h2 class="h23">Созвездие Скорпион</h2>
          </div>
          <div class="parent8">
            <div class="div10"></div>
            <div class="frame-wrapper">
              <div class="parent9">
                <i class="i43">Символ</i>
                <div class="parent10">
                  <i class="i44">Скорпион</i>
                  <i class="text3"> </i>
                </div>
              </div>
            </div>
            <div class="frame-wrapper1">
              <div class="parent11">
                <i class="i45">Площадь</i>
                <i class="i46">497 кв. градусов</i>
              </div>
            </div>
            <div class="frame-parent4">
              <div class="wrapper5">
                <i class="i47">Ярчайшие звезды</i>
              </div>
              <i class="sco"
                >Антарес (α Sco), Шаула (λ Sco), Саргас (θ Sco), δ Sco, ε Sco, κ
                Sco, β Sco</i
              >
            </div>
            <div class="frame-parent5">
              <div class="parent12">
                <i class="i48">Соседние созвездия</i>
                <i class="i49">Созвездие видимо в широтах</i>
              </div>
              <div class="frame-wrapper2">
                <div class="parent13">
                  <i class="i50"
                    >Стрелец, Змееносец, Весы, Волк, Южная Корона, Жертвенник,
                    Наугольник</i
                  >
                  <div class="wrapper6">
                    <i class="i51">май, июнь</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section">
        <div class="child"></div>
        <img class="item" loading="lazy" alt="" />

        <div class="inner">
          <div class="frame-parent6">
            <div class="frame-wrapper3">
              <div class="parent14">
                <div class="div11">
                  <span class="span">Подпишитесь</span>
                  <span class="span1"> </span>
                  <span class="span2">на</span>
                  <span class="span3"> </span>
                  <span class="span4">нас</span>
                </div>
                <div class="logo-wrapper">
                  <div class="logo">
                    <div class="pochta-logo-wrapper">
                      <img
                        class="pochta-logo-icon"
                        loading="lazy"
                        alt=""
                        src="{% static 'png/pochta-logo@2x.png' %}"
                      />
                    </div>
                    <div class="telegram-logo-parent">
                      <img
                        class="telegram-logo-icon"
                        loading="lazy"
                        alt=""
                        src="{% static 'png/telegram.png' %}"
                      />

                      <img
                        class="youtube-logo-1-icon"
                        alt=""
                        src="{% static 'png/youtube-logo-1@2x.png' %}"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ab-inc">© 2024 Ab Inc</div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
